.t1 {
  color: #7e84f7;
  font-weight: bold;
  text-decoration: none;
  scroll-margin-top: 5vh;
}
.t1:visited {
  color: #81bcf7;
}
.t1:hover {
  color: #81bcf7;
}
.t2 {
  color: #367e7f;
  text-decoration: none;
  scroll-margin-top: 5vh;
}
.t2:visited {
  color: #aabd25;
}
.t2:hover {
  color: #aabd25;
}
  
.t3 {
  color: #a5a5a5;
  font-size: 3px;
}

@media (max-width: 600px) {
  img {
    width: 60%;
    height: 60%;
  }
}
@media (min-width: 601px) {
  img {
    width: 30%;
    height: 30%;
  }
}
